<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>채널 생성</title>
  </head>
  <body>
    <main>
      <form action="/api/channel/create" method="post">
        <button type="submit">생성</button>
      </form>
    </main>
  </body>
</html>
