<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>채널 수정</title>
  </head>
  <body>
    <main>
      <h1>채널 수정 페이지</h1>

      <form action="/api/channel/modify" method="post">
        <button type="submit">수정</button>
      </form>

      <form action="/api/channel/delete" method="post">
        <button type="submit">삭제</button>
      </form>
    </main>
  </body>
</html>
